<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Parking karte</title>
</head>
<body>
	<table>
		<tr>
			<th>Registarska oznaka vozila</th>
			<th>Početak parkinga</th>
			<th>Trajanje u minutima</th>
			<th>Osoba sa invaliditetom</th>
			<th>Zona</th>
		</tr>
		<tr th:each="pk : ${parkingKarte}">
			<td th:text="${pk.registracija}"></td>
			<td th:text="${pk.pocetakParkinga}"></td>
			<td align="right" th:text="${pk.trajanjeUMinutama}"></td>
			<td th:text="${pk.osobaSaInvaliditetom}"></td>
			<td th:text="${pk.zona.naziv}"></td>
		</tr>
	</table>
	<h1>Ukupna zarada: <span th:text="${ukupnaSuma}"></span></h1>
</body>
</html>